:root {
    --bg-main: #000000;
    --accent-yellow: #FFDC49;
    --accent-orange: #FFA244;
    --accent-blue: #13425F;
    --text-main: #fff;
    --text-muted: #A3A3A3;

    --sm-sz: 20px;
    --med-sz: 24px;
    --lg-sz: 32px;
    --xl-sz: 48px;
    --xxl-sz: 64px;
    --xxxl-sz: 96px;
}

*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    margin: 0;
    background-color: var(--bg-main);
    color: var(--text-main);
    font-family: 'Space Grotesk', 'Montserrat', 'sans-serif';
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 100vh;
    background-color: var(--bg-main);
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    border-right: 1 px solid #2C2C2C;
    background-color: var(--bg-main);
}

.hero-left-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--med-sz);
    color: var(--text-muted);
    margin-bottom: var(--lg-sz);
}

.hero-left-content {
    margin-left: 145px;
    max-width: 380px;
}

.hero-title {
    font-size: var(--xl-sz);
    margin-bottom: var(--med-sz);
}

.hero-text {
    font-size: var(--sm-sz);
    line-height: 1.6;
    color: var(--text-muted);
    margin: 0 0 10px;
}

.btn-primary {
    margin-top: 24px;
    padding: 10px 24px;
    border-radius: 6px;
    background-color: var(--accent-yellow);
    color: var(--bg-main);
    font-weight: 600;
    font-family: 'Space Grotesk';
    cursor: pointer;
    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease,
        background-color 0.15s ease;
}

.btn-primary:hover {
    background-color: #FFD75e;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
    transform: translateY(-1px);
}

.hero-left-planet {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-left-planet img {
    width: 90%;
    max-width: 420px;
    object-fit: contain;
}

.hero-right {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    background-color: var(--bg-main);
}

.hero-right-header {
    text-align: center;
    font-size: var(--med-sz);
    color: var(--accent-orange);
    margin-bottom: var(--md-sz);
}

.hero-right-planet {
   flex: 1;
   display: flex;
   background-color: var(--bg-main);
    position: relative;
    min-height: 420px;
}

.hero-right-planet canvas {
    width: 100%;
    height: 100%;
    display: contain;
}

.hero-right-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-top: var(--xl-sz);
}

.btn-secondary {
    padding: 8px 18px;
    border-radius: 6px;
    border:  none;
    background-color: var(--accent-blue);
    color: var(--text-main);
    font-size: var(--med-sz);
    font-family: 'Space Grotesk';
    cursor: default;
}

.carousel-dots {
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: none;
    background-color: var(--text-muted);
    cursor: pointer;
    padding: 0;
}

.dot.active {
    background-color: var(--text-main);
}

@media (max-width: 900px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .hero-left {
        border-right: none;
        border-bottom: 1px solid #2C2C2C;
    }

    .hero-left-planet img {
        width: 70%
    }
    
    .hero-right-planet img {
        width: 60%
    }
}